<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ post.name }}</h2>
    <h5>Hello, {{ sub_name }}! New post in your favourite category!</h5>
    <p>{{ post.text | truncatechars:50 }} </p>
    <h6>Read full article via this <a href="{% url 'post_detail' post.id %}">link</a>.</h6>
    <h6>This mail was sent using celery task!</h6>
</body>
</html>